meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")

// Meta tags para redesociais
meta(property="og:title", content=faceTitle)
meta(property="og:description", content=faceDesc)
meta(property="og:image", content=faceImage)
meta(property="og:url", content=faceUrl)

meta( property="twitter:title", content=faceTitle)
meta(property="twitter:description", content=faceDesc)

meta(name="description" content=faceDesc)

// cor do thema 
meta(name="theme-color", content="#009c7f")